
body {
    background-color: #777;
    /*color: #ebebeb;*/
    width: 960px;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 18px;
    margin: 50px;
    margin-top: 10px;
}

header, nav, .section, .aside, .footer {
    background-color: #ebebeb;
    color: #777;
    margin: 10px;
    text-align: center;
}

header {
    padding: 10px;
}

nav {
    text-align: left;
}

.section {
    width: 495px;
    float: left;
    padding: 10px;
}

.aside {
    width: 380px;
    padding: 10px;
    float: left;
}

.article {
    background-color: #777;
    color: #ebebeb;
    padding: 5px;
}
.article p, h2 {
    background-color: #ebebeb;
    color: #777;
    padding: 5px;
}

.paragraph {
    background-color: #ebebeb;
    color: #777;
    text-align: left;
}

.footer {
    padding: 15px;
    clear: both;
}

#code {
    font-family: "Monaco";
}
