
body {
    background-color: #777;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 18px;
    margin: 5px;
}

header, nav, .section, .footer {
    background-color: #ebebeb;
    color: #777;
    margin: 5px;
    text-align: center;
}


header {
    padding: 10px;
}

.section {
    padding: 10px;
}


.article {
    background-color: #777;
    color: #ebebeb;
    padding: 5px;
}
.article p, h2 {
    background-color: #ebebeb;
    color: #777;
    padding: 5px;
}


.footer {
    padding: 15px;
    clear: both;
}

#code {
    font-family: "Inconsolata", monospace;
}

#initial-setup, #installation, #file-share-setup, #client-devices {
    padding-left: 15px;
    text-align: left;
  }

#rpi-update, #rpi-smb, #es-file1, #es-file2, #es-file3, #es-file4, #es-file5 {
  padding-bottom: 10px;
  width: 95%;
}

#rpi2 {
  width: 85%;
  height: 85%;
}

a#code {
    text-decoration: none !important;
    color: #777;
}

a#client-section {
    text-decoration: none !important;
    color: #777;
    font-size: 20px;
    font-weight: 700;
}

